
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
  font-size: .9375rem;
}


h1, h2, h3, h4 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.7rem;
  text-transform: uppercase;
}

p {
   color: hsla(0, 0%, 100%, 0.75);
   line-height: 2;
}


.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

.carIcons {

    margin-top: 18%;
}

.sedan {
  background-color:hsl(31, 77%, 52%);
  height: 33.33%;
  margin: 0 auto;
}

.sedanContent {
  width: 63%;
  margin: 0 auto;
}

.suv {
  background-color:  hsl(184, 100%, 22%);
  height: 33.33%;
}

.suvContent {
  width: 63%;
  margin: 0 auto;
}

.luxury {
  background-color:  hsl(179, 100%, 13%);
  height: 33.33%;
}


.luxuryContent {
  width: 63%;
  margin: 0 auto;
}

.learnButton {
  border-radius: 50px;
  height: 3.5vh;
  width: 40vw;
}
