
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
  font-size: .9375rem;
  border-radius: 2px;
}


h1, h2, h3, h4 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.7rem;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 28px;
}

p {
   color: hsla(0, 0%, 100%, 0.75);
   line-height: 2;
}


.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

.carIcons {

    margin-top: 21%;
}

.sedan {
  background-color:hsl(31, 77%, 52%);
  min-height: 33.33%;
  max-height: fit-content;
  margin: 0 auto;
}

.sedan button {
  color: hsl(31, 77%, 52%);
}

.sedanContent {
  width: 70%;
  margin: 0 auto;
}

.suv {
  background-color:  hsl(184, 100%, 22%);
  min-height: 33.33%;
  max-height: fit-content;
}

.suv button {
  color: hsl(184, 100%, 22%);
}

.suvContent {
  width: 70%;
  margin: 0 auto;
}

.luxury {
  background-color:  hsl(179, 100%, 13%);
  min-height: 33.33%;
  max-height: fit-content;
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

.luxuryContent {
  width: 70%;
  margin: 0 auto;
}

.learnButton {
  border-radius: 50px;
  height: 3.5vh;
  margin-top: .562rem;
  width: 40vw;
}
