
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
  font-size: .9375rem;
  border-radius: 2px;
}


h1, h2, h3, h4 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 11%;
  margin-bottom: 12%;
}

p {
   color: hsla(0, 0%, 100%, 0.75);
   line-height: 2;
   padding-right: 1.12rem;
   text-align: left;
}


.attribution {
  display: none;
  font-size: 11px; text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
 }

.carIcons {
  height: 10vw;
  margin-top: 3rem;
}

.sedan {
  background-color:hsl(31, 77%, 52%);
  min-height: 33.33%;
  max-height: fit-content;
  margin: 0 auto;
}

.sedan button {
  color: hsl(31, 77%, 52%);
}

.sedanContent {
  width: 68%;
  margin: 0 auto;
}

.suv {
  background-color:  hsl(184, 100%, 22%);
  min-height: 33.33%;
  max-height: fit-content;
}

.suv button {
  color: hsl(184, 100%, 22%);
}

.suvContent {
  width: 68%;
  margin: 0 auto;
}

.luxury {
  background-color:  hsl(179, 100%, 13%);
  min-height: 33.33%;
  max-height: fit-content;
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

.luxuryContent {
  width: 68%;
  margin: 0 auto;
}

.learnButton {
  border: none;
  border-radius: 50px;
  height: 12.5vw;
  margin-top: .562rem;
  margin-bottom: 3rem;
  width: 40vw;
}
