
body {
  background-color: hsl(0, 0%, 95%);
}


h1, h2, h3, h4 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  /*font-size: 2.3rem;*/
  font-size: 10.8vw;
  text-transform: uppercase;
  margin-top: 11%;
  margin-bottom: 12%;
}

.card-container {
  position: relative;
  height:  100%;
  overflow: hidden;
  border-radius: 9px;
  margin: 27% auto;
  width: 89%;
  font-family: 'Lexend Deca', sans-serif;
  font-size: .9375rem;
}

.carInfo {
   color: hsla(0, 0%, 100%, 0.75);
   font-size: 4vw;
   line-height: 2;
   /*padding-right: 3.13rem;*/
   text-align: left;
}


.attribution {
  background-color: darkslategray;
  color: #FFF;
  font-size: 11px;
  text-align: center;
  overflow: hidden;
  font-family: 'Lexend Deca', sans-serif;
}

.attribution a {
   color: hsl(228, 45%, 44%);
   text-decoration: none;
 }

 .attribution a:hover {
   color: hsl(179, 100%, 13%);
 }

 .attribution a:visited {
   color: inherit;

 }

.carIcons {
  height: 10.99vw;
  margin-top: 3rem;
}

.sedan {
  background-color:hsl(31, 77%, 52%);
  min-height: 33.33%;
  max-height: fit-content;
  margin: 0 auto;
}

.sedan button {
  color: hsl(31, 77%, 52%);
}

.sedanContent {
  width: 73%;
  margin: 0 auto;
}

.suv {
  background-color:  hsl(184, 100%, 22%);
  min-height: 33.33%;
  max-height: fit-content;
}

.suv button {
  color: hsl(184, 100%, 22%);
}

.suvContent {
  width: 73%;
  margin: 0 auto;
}

.luxury {
  background-color:  hsl(179, 100%, 13%);
  min-height: 33.33%;
  max-height: fit-content;
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

.luxuryContent {
  width: 73%;
  margin: 0 auto;
}

.learnButton {
  border: none;
  border-radius: 50px;
  font-size: 4vw;
  /*height: 12.5vw;*/
  height: fit-content;
  padding: 7%;
  margin-top: .562rem;
  margin-bottom: 3rem;
  width: 40vw;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.learnButton:hover {
  background-color:#11ffee00 ;
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}


@media only screen and (min-width: 1024px) and (max-width: 1043px) {
  body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .card-container {
    height: 60%;
    max-height: 436px;
    width: 65%;
    margin: 0 auto;
    position: absolute;
    top: 15vh;
    left: 16%
  }

  .sedan {
    position:absolute;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    width: 33.33%;
  }

  .sedanContent {
    letter-spacing: .03rem;
    width: 70%;
  }

  .suv {
    position: absolute;
    bottom: 0;
    height: 100%;
    margin-left: 33.33%;
    overflow: hidden;
    width: 33.33%;
  }

  .suvContent {
    letter-spacing: .03rem;
    width: 70%;
  }

  .luxury {
    position: absolute;
    bottom: 0;
    height: 100%;
    margin-left: 66%;
    overflow: hidden;
    width: 33.33%;
  }

  .luxuryContent {
    letter-spacing: .03rem;
    width: 70%;
  }

  .carIcons {
    height: 2.5rem;
    margin-top: 3rem;
  }

  h1, h2, h3, h4 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
  }

  .carInfo {
    /*font-size: 1.44rem;*/
    font-size: 1vw;
    text-align: left;
    padding-right: 0rem;
  }

  .learnButton {
    /*font-size: 1.44rem;*/
    font-size: 1vw;
    font-weight: 600;
    height: fit-content;
    padding: 6.2%;
    margin-bottom: 4rem;
    /*margin-top : 13.2vh;*/
    margin-top: calc(1vw + 15%);
    width: 9.2vw;
  }

  .learnButton:hover {
    background-color:#11ffee00 ;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
  }

  .attribution {
    position: absolute;
    left: calc(34% + -2.8vw);
    bottom: 84%;
    width: 100%;
    background-color: #FFF;
    color: #000;
    font-size: calc(.2rem + 0.6vw);
    transform:rotate(45deg);
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
  }

  .att {
    margin: 0 auto;
  }

  .attribution a {
     color: hsl(228, 45%, 44%);
     text-decoration: none;
   }
}

@media only screen and (min-width: 1044px) and (max-width: 2559px) {
  body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .card-container {
    height: 70%;
    max-height: 504px;
    width: 65%;
    margin: 0 auto;
    position: absolute;
    top: 15vh;
    left: 16%
  }

  .sedan {
    position:absolute;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    width: 33.33%;
  }

  .sedanContent {
    letter-spacing: .03rem;
    width: 70%;
  }

  .suv {
    position: absolute;
    bottom: 0;
    height: 100%;
    margin-left: 33.33%;
    overflow: hidden;
    width: 33.33%;
  }

  .suvContent {
    letter-spacing: .03rem;
    width: 70%;
  }

  .luxury {
    position: absolute;
    bottom: 0;
    height: 100%;
    margin-left: 66.66%;
    overflow: hidden;
    width: 33.33%;
  }

  .luxuryContent {
    letter-spacing: .03rem;
    width: 70%;
  }

  .carIcons {
    height: 2.5rem;
    margin-top: 3rem;
  }

  h1, h2, h3, h4 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
  }

  .carInfo {
    /*font-size: 1.44rem;*/
    font-size: 1vw;
    text-align: left;
    padding-right: 0rem;
  }

  .learnButton {
    /*font-size: 1.44rem;*/
    font-size: 1vw;
    font-weight: 600;
    height: fit-content;
    padding: 6.2%;
    margin-bottom: 4rem;
    /*margin-top : 13.2vh;*/
    margin-top: calc(1vw + 15%);
    width: 9.2vw;
  }

  .learnButton:hover {
    background-color:#11ffee00 ;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
  }

  .attribution {
    position: absolute;
    left: calc(38% + -2.8vw);
    bottom: 82%;
    width: 100%;
    background-color: #FFF;
    color: #000;
    font-size: calc(.2rem + 0.6vw);
    transform:rotate(45deg);
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
  }

  .att {
    margin: 0 auto;
  }

  .attribution a {
     color: hsl(228, 45%, 44%);
     text-decoration: none;
   }
}

@media only screen and (min-width: 2560px) {
  body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .card-container {
    height: 70%;
    max-height: 737px;
    width: 65%;
    margin: 0 auto;
    position: absolute;
    top: 15vh;
    left: 16%
  }

  .sedan {
    position:absolute;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    width: 33.33%;
  }

  .sedanContent {
    letter-spacing: .03rem;
    width: 70%;
  }

  .suv {
    position: absolute;
    bottom: 0;
    height: 100%;
    margin-left: 33.33%;
    overflow: hidden;
    width: 33.33%;
  }

  .suvContent {
    letter-spacing: .03rem;
    width: 70%;
  }

  .luxury {
    position: absolute;
    bottom: 0;
    height: 100%;
    margin-left: 66.66%;
    overflow: hidden;
    width: 33.33%;
  }

  .luxuryContent {
    letter-spacing: .03rem;
    width: 70%;
  }

  .carIcons {
    height: 2.5rem;
    margin-top: 3rem;
  }

  h1, h2, h3, h4 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
  }

  .carInfo {
    /*font-size: 1.44rem;*/
    font-size: 1vw;
    text-align: left;
    padding-right: 0rem;
  }

  .learnButton {
    /*font-size: 1.44rem;*/
    font-size: 1vw;
    font-weight: 600;
    height: fit-content;
    padding: 6.2%;
    margin-bottom: 4rem;
    /*margin-top : 13.2vh;*/
    margin-top: calc(1vw + 15%);
    width: 9.2vw;
  }

  .learnButton:hover {
    background-color:#11ffee00 ;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
  }

  .attribution {
    position: absolute;
    left: calc(42% + -2.8vw);
    bottom: 81%;
    width: 100%;
    background-color: #FFF;
    color: #000;
    font-size: calc(.2rem + 0.6vw);
    transform:rotate(45deg);
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
  }

  .att {
    margin: 0 auto;
  }

  .attribution a {
     color: hsl(228, 45%, 44%);
     text-decoration: none;
   }
  }
